<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Test Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="BasicsOfTestNg.MethodAnnotationExample"/>
      <class name="BasicsOfTestNg.TestAnnotaion2"/>
      <class name="BasicsOfTestNg.TestAnnotation1"/>
      <class name="BasicsOfTestNg.Method1"/>
      <class name="BasicsOfTestNg.IntroductionToTestNg"/>
      <class name="BasicsOfTestNg.ClassAnnotations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
